<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <header>
            <%- include('../partials/header'); %>
        </header>
        <main>
            <div class="jumbotron">
                <h1>Machines Table</h1>
                <table class="table">
                    <% for(let i = 0; i < machines.length; i++) { %>
                        <tr>
                            <td><%= machines[i].name %></td>
                            <td><%= machines[i].type %></td>
                        </tr>                        
                  <% } %>                
                </table>      
            </div>
        </main>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>