<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <header>
            <%- include('../partials/header'); %>
        </header>
        <main>
            <!-- Order Assignments Übersicht -->
            <div class="jumbotron">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>WIP</th>
                            <th>Scheduled</th>
                        </tr>
                    </thead>
                    <% for(let i=0; i < order_assignments.length; i++) { %>
                        <tr>
                            <td>
                                <% if(order_assignments[i].state == "WIP") { %>
                                    <%= order_assignments[i].machine_id, order_assignments[i].orders %>
                                <% } %>
                            </td>
                            <td>
                                <% if(order_assignments[i].state == "Scheduled") { %>
                                    <%= order_assignments[i].machine_id, order_assignments[i].orders %>
                                <% } %>
                        </tr>           
                        <% } %>             
                </table>                     
            </div>  
            <!-- Neue Order Assignment erstellen -->
            <div class="jumbotron">
                <h1>New Assignment</h1>
                <form action="order_assignments/" method="post">
                    <div class="form-group">
                        <label for="machine_id">Machine</label>
                        <select class="form-control" name="machine_id" id="machine_id">
                            <% for(let i=0; i < dropdown_machines.length; i++) { %>   
                                <option><%= dropdown_machines[i].id %></option>
                            <% } %>
                        </select>
                    </div>                    
                    <div class="form-group">
                        <label for="order_id">Order</label>
                        <select class="form-control" name="order_id" id="order_id">
                            <% for(let i=0; i < dropdown_orders.length; i++) { %>   
                                <% if(dropdown_orders[i].state == "outstanding") { %>
                                <option><%= dropdown_orders[i].id %></option>
                                <% } %>
                            <% } %>
                        </select>
                    </div>    
                    <div class="form-group">
                        <label for="state">State</label>
                        <select class="form-control" name="state" id="state">
                          <option>WIP</option>
                          <option>Scheduled</option>                          
                        </select>
                    </div>                                    
                    <button type="submit" class="btn btn-secondary">Send</button>      
                </form>
            </div>         
        </main>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>