<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <header>
            <%- include('../partials/header'); %>
        </header>
        <main>
            <!-- Order Assignments Übersicht -->
            <div class="jumbotron">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th colspan="2"> Corresponding Orders</th>
                        </tr>
                        <tr>
                            <th>Machine ID</th>
                            <th>WIP</th>
                            <th>Scheduled</th>
                        </tr>
                    </thead>
                        <% for(let i = 0; i < order_assignments_wip.size; i++) { %>                                    
                            <% order_assignments_wip.get(i).forEach(function(value, key) { %>
                                <tr>
                                    <td>
                                        <%= key %>
                                    </td>    
                                    <td>
                                        <%= value %>
                                    </td>      
                                    <td>
                                        <% for(let i = 0; i < order_assignments_scheduled.size; i++) { %>                                    
                                            <% order_assignments_scheduled.get(i).forEach(function(value, key) { %>
                                    </td>                          
                                </tr>   
                            <% }) %>  
                        <% } %>
                </table>                     
            </div>  
            <!-- Neue Order Assignment erstellen -->
            <div class="jumbotron">
                <h1>New Assignment</h1>
                <form action="order_assignments/" method="post">
                    <div class="form-group">
                        <label for="machine_id">Machine</label>
                        <select class="form-control" name="machine_id" id="machine_id">
                            <% for(let i=0; i < dropdown_machines.length; i++) { %>   
                                <option><%= dropdown_machines[i].id %></option>
                            <% } %>
                        </select>
                    </div>                    
                    <div class="form-group">
                        <label for="order_id">Order</label>
                        <select class="form-control" name="order_id" id="order_id">
                            <% for(let i=0; i < dropdown_orders.length; i++) { %>   
                                <% if(dropdown_orders[i].state == "outstanding") { %>
                                <option><%= dropdown_orders[i].id %></option>
                                <% } %>
                            <% } %>
                        </select>
                    </div>    
                    <div class="form-group">
                        <label for="state">State</label>
                        <select class="form-control" name="state" id="state">
                          <option>WIP</option>
                          <option>Scheduled</option>                          
                        </select>
                    </div>                                    
                    <button type="submit" class="btn btn-secondary">Send</button>      
                </form>
            </div>         
        </main>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>